#suma,
#waluta {
    width: 93%;
    height: 50px;
    text-align: center;
    margin: 0 auto -13px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 28px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}

h1 {
    width: 100%;
    font-size: 20px;
    text-align: left;
    color: #c42a15;
    margin-left: -20px;
}

p {
    font-size: 13px;
    text-align: left;
}

.lamps {
    width: 2px;
    height: 300px;
    left: 140px;
    top: 0;
    position: absolute;
    background-color: #ffd3c6;
}

.rounds {
    width: 10px;
    height: 30px;
    border-radius: 10px;
    left: 136px;
    top: 0px;
    position: absolute;
    background-color: #ffd3c6;
}

.rounds2 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    left: 131px;
    top: 0px;
    position: absolute;
    background-color: #ffd3c6;
}

#waluta {
    height: 25px;
    width: 15px;
    line-height: 25px;
    background-color: #002663;
    color: #fff;
    font-size: 12px;
    margin: 0 170px 0 0;
    border-radius: 0 4px 4px 0;
    border: 0;
}

#li_suma {
    margin: 30px 0 -26px 0;
}

#warn1 {
    font-size: 13px;
    color: red;
    height: 13px;
}

html {
    background-color: #fbffea;
}

body {
    height: 100%;
    margin: 50px auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 430px;
    background-color: #fff;
    padding: 20px 20px 0 20px;
    position: relative;
    font-family: 'Dosis', sans-serif;
    color: rgba(0, 0, 0, .80);
    -webkit-box-shadow: 0px 10px 36px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 36px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 36px -5px rgba(0, 0, 0, 0.75);
}

header,
.total {
    font-size: 29px;
    margin: 0 auto;
    width: 440px;
    background-color: #c42a15;
    padding: 15px;
    position: relative;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    margin: -22px 0 0 -20px;
}

.total {
    background-color: #ffeea5;
    margin-top: 10px;
    vertical-align: middle
}

.total2 {
    font-size: 25px;
    color: #000000;
    margin: 0;
}

#submit {
    font-size: 20px;
    float: right;
    color: #000000;
    width: 80px;
    height: 32px;
    line-height: 28px;
    background-color: #fffedb;
    vertical-align: middle;
    padding-bottom: 15px;
    border-radius: 2px;
    border: 0px solid #ccc;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
}

#submit:hover {
    background-color: #c42a15;
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0px 0;
}

fieldset {
    vertical-align: middle;
    text-align: center;
    border: 0px;
    min-width: -webkit-min-content;
}


/*ŻARÓWKI*/

#bulbs label {
    width: 45%;
}

#trad,
#led {
    margin: -30px auto 15px;
}

#bulbs {
    margin-bottom: 20px;
}

#ship {
    margin-top: -30px;
}

input[type=radio].pickbulb {
    display: none;
}

input[type=radio].pickbulb+label.label {
    height: 30px;
    width: 30%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=radio].pickbulb:hover+label.label:hover {
    background-color: #f46542;
}

input[type=radio].pickbulb:checked+label.label {
    background-position: 0 -28px;
    background-color: #c42a15;
    color: #ffffff;
}


/*SUWAKI*/

input[type=range] {
    -webkit-appearance: none;
    width: 85%;
    margin: 6.8px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.4px;
    cursor: pointer;
    background: #39d499;
    border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
    vertical-align: middle;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 0px;
    background: #39d499;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.8px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.4px;
    cursor: pointer;
    background: #39d499;
    border-radius: 1.3px;
}

input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border: 0px;
    border-radius: 48px;
    background: #39d499;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 6.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #28b781;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: #39d499;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 48px;
    background: #39d499;
    cursor: pointer;
    height: 6.4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #39d499;
}

input[type=range]:focus::-ms-fill-upper {
    background: #5fdcac;
}

#suwak label {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    width: 44px;
    height: 30px;
    border-radius: 38px;
    background-color: #5fdcac;
    font-size: 15px;
}

#suwak {
    vertical-align: middle;
    display: table-cell;
}


/*NOWE INPUTY*/

#newFields {
    text-align: center;
}

.newFieldz {
    display: table-cell;
    float: left;
    height: 25px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 25px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

::-webkit-input-placeholder {
    font-size: 12px;
    font-weight: lighter;
}

::-moz-placeholder {
    font-size: 12px;
    font-weight: lighter;
}

:-moz-placeholder {
    font-size: 12px;
    font-weight: lighter;
}

:-ms-input-placeholder {
    font-size: 12px !important;
    font-weight: lighter !important;
}

::-ms-input-placeholder {
    font-size: 12px !important;
    font-weight: lighter !important;
}

::placeholder {
    font-size: 12px;
    font-weight: lighter;
}

.container2 tr {
    height: 25px;
}

.container2 {
    display: table;
    float: left;
    width: 100%;
    font-size: 8px;
    margin: 1px 0;
}

.container2 a {
    margin-right: 50px;
    vertical-align: middle;
    display: table-cell;
    width: 15%;
    font-size: 12px;
}

.pickcolour {
    display: none;
    height: 25px;
    float: left;
    width: 5%;
}

label.pickcolour {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
    border: 0px;
    cursor: pointer;
    opacity: 0.15;
    -webkit-transition: opacity, width 500ms ease-in-out;
    -moz-transition: opacity, width 500ms ease-in-out;
    -o-transition: opacity, width 500ms ease-in-out;
    transition: opacity, width 500ms ease-in-out;
}

label.pickcolour:hover {
    opacity: 1;
}

input[type=radio].pickcolour:checked+label.pickcolour {
    opacity: 1;
    width: 50px;
    /*border-bottom-left-radius: 0;
    border-top-right-radius: 0;*/
}

label[name='lblack'] {
    background-color: black;
}

label[name='lred'] {
    background-color: #f96259;
}

label[name='lblue'] {
    background-color: dodgerblue;
}

label[name='lgreen'] {
    background-color: #68f97c;
}

label[name='lwhite'] {
    border: 1px solid grey;
    background-color: white;
}


/*PRZEŁĄCZNIK*/

#przelaczniki {
    margin: -20px 5px 0 0;
}

.przelacznik {
    display: table;
    text-align: left;
    width: 100%;
    line-height: 30px;
    height: 30px;
    margin-bottom: 30px;
}

.przelacznik a {
    display: table-cell;
    vertical-align: top;
}

.switch {
    position: relative;
    display: table-cell;
    width: 44px;
    height: 30px;
}

.switch input {
    display: none;
}

.switchtrack {
    border-radius: 38px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switchtrack:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
}

input:checked+.switchtrack {
    background-color: #5fdcac;
}

input:focus+.switchtrack {
    box-shadow: 0 0 1px #5fdcac;
}

input:checked+.switchtrack:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

#d_all {
    margin-top: -25px;
    width: 100%;
    text-align: center;
    height: 30px;
}

#d_all input {
    height: 25px;
    float: none;
}

#k_all {
    margin-top: -25px;
    width: 100%;
    text-align: center;
    height: 30px;
}

#k_all label {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: none;
    margin: 0 15px;
}